@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #102261;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #E48249;
    --cor-hover: #272727;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.main__main {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px
}

.main__section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.main__section__h1 {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    text-align: justify;
}


.main__destaque {
    color: var(--cor-terciaria)
}

.main__section__p {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.main__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__subtitulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-weight: 400;

}

.apresentacao__links__navegacao {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    padding: 16px 0;
    gap: 16px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}
.main__imagem {
    width: 35%;
    border-radius: 8%;
}

.rodape {
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;


}

@media(max-width:1250px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .main__main {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .main__section {
        width: auto;
    }
}